/* Style constants defined */
:root {
  --font-xxs: 12px;
  --font-xs: 14px;
  --font-s: 16px;
  --font-m: 20px;
  --font-l: 26px;
  --font-xl: 32px;
  --border-radius: 32px;
  /* Colors */
  --dark-blue: #0A3871;
  --light-gray: #D8DFE8;
  --white: #FFFFFF;
  --gray-400: #495057;
  --primary-color: var(--dark-blue);
  --secondary-color: var(--light-gray);
  --third-color: var(--white);
  --background: #F3F5FC;
  /* Paddings */
  --padding-s: 10px;
  --padding-m: 20px;
  --padding-l: 30px;
  --padding-xl: 60px;
}

body {
  background-color: var(--background);
  margin: 0 auto;
  width: 90%;
  color: var(--dark-blue);
  font-size:var(--font-s);
  font-family: "Inter", sans-serif;
}

h1 {
  display: block;
  font-size: var(--font-xl);
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  margin-bottom: var(--padding-extralarge);
  text-align: center;
}

.main-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
}


.input-container,
.input-and-buttons-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-bottom: var(--padding-m);

}

.input-and-buttons-container {
  margin-bottom: var(--padding-l);
}

.input-container textarea {
  height: 100%;
  width: 100%;
  border-style: hidden;
  background-color: transparent;
  resize: none;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button {
  font-size:var(--font-s);
  border-radius: 24px;
  border: 1px solid var(--primary-color);
  height: 8.5vh;
  background-color: transparent;
  color:var(--primary-color);
}

#encrypt-button {
  margin-bottom:var(--padding-m);
  background-color: var(--primary-color);
  color:var(--white);
}

.output-container {
  display: flex;
  flex-direction: column;
  background-color: var(--third-color);
  border-radius: var(--border-radius);
  justify-content: center;
  padding: 0 var(--padding-m);

}

#results {
  display: none;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  /* margin: var(--padding-xl) 0; */
}

#output-paragraph {
  overflow-wrap: break-word; 
}


#empty-output-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: var(--padding-l)
}

#output-image {
  display: none;
  width: 100%;
  margin-bottom: var(--padding-m);
}

#copy-button {
  display: inline-block;
}

.attention img {
  margin-bottom: -3px;
}


footer {
  margin-top: 10vh;
  border-top: 1px solid var(--primary-color);
  padding: var(--padding-l);
}

footer #footer-info {
  margin-right: var(--padding-m);
  margin-bottom: var(--padding-s);
}

footer img {
  margin-bottom: -5px;
}

footer #contact {
  display: inline;
}

/* Fonts */

#text-area-label {
  display: block;
  font-size: var(--font-l);
  padding: var(--padding-m);
}

#empty-output-label {
  color: black;
  font-size: var(--font-m);
  font-weight: bold;
  padding-bottom: var(--padding-s);
}

#empty-output-desc {
  color: var(--gray-400);
  font-size: var(--font-xs);
}

#attention-message {
  color: var(--gray-400);
  font-size: var(--font-xxs);
  display: inline;
}



/* Responsive break-points */

@media screen and (min-width:600px) {
  /* For Tablets */

  body {
    width: 80%
  }

  .main-content-container {
    flex-direction: column;
    height: 60vh;
  }

  .buttons-container {
    flex-direction: row;
    justify-content: center;
  }

  #empty-output-container {
    padding: var(--padding-m);
  }

}

@media screen and (min-width:1080px) {
  /* For Desktop*/

  body {
    width: 60%;
  }

  .main-content-container {
    flex-direction: row;
    justify-content: center;
    height: 50vh;
  }

  .input-and-buttons-container{
    padding-right: var(--padding-s);
  }

  .buttons-container {
    flex-direction: row;
    justify-content:space-around;
  }

  .button {
    flex-grow:1;
    height: 5.5vh;
  }

  #encrypt-button, #decrypt-button {
    margin: auto var(--padding-m);
  }

  .output-container {
    width: 300px;
  }

  #output-image {
    display: inherit;
  }

  footer p {
    display: inline;
  }

  #empty-output-container {
    padding: var(--padding-s);
  }
}