/* Style constants defined */
:root {
  --small-font-size: 10px;
  --medium-font-size: 15px;
  --large-font-size: 20px;
  --border-radius: 32px;
  /* Colors */
  --dark-blue: #0A3871;
  --light-gray: #D8DFE8;
  --white: #FFFFFF;
  --gray-400: #495057;
  --primary-color: var(--dark-blue);
  --secondary-color: var(--light-gray);
  --third-color: var(--white);
  --background: #E8E8E8;
  /* Paddings */
  --padding-small: 10px;
  --padding-medium: 20px;
  --padding-large: 30px;
  --padding-extralarge: 60px;
}

body {
  background-color: var(--background);
  margin: 0 auto;
  width: 90%;
  color: var(--dark-blue);
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  margin-bottom: var(--padding-extralarge);
  text-align: center;
}

.main-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.input-container,
.input-and-buttons-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.input-container textarea {
  height: 100%;
  width: 100%;
  border-style: hidden;
  background-color: transparent;
  resize: none;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.output-container {
  display: flex;
  background-color: var(--third-color);
  border: 2px solid var(--primary-color);
  border-radius: var(--border-radius);
  justify-content: center;
  align-items: center;
  padding: 0 var(--padding-medium);

}

#empty-output-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#output-image {
  display: none;
  width: 100%;
  margin-bottom: var(--padding-medium);
}

#copy-button {
  display: none;
}

#text-area-label {
  display: block;
}

.attention img {
  margin-bottom: -3px;
}


footer {
  margin-top: 10vh;
  border-top: 2px solid var(--primary-color);
  padding: var(--padding-large);
}

footer #footer-info {
  margin-right: var(--padding-medium);
  margin-bottom: var(--padding-small);
}

footer img {
  margin-bottom: -5px;
}

footer #contact {
  display: inline;
}

/* Fonts */

#text-area-label {
  font-size: x-large;
  font-weight: bold;
  padding: var(--padding-medium)
}

#empty-output-label {
  color: black;
  font-size: larger;
  font-weight: bold;
  padding-bottom: var(--padding-small);
}

#empty-output-desc {
  color: var(--gray-400);
  font-size: small;
}

#attention-message {
  color: var(--gray-400);
  font-size: small;
  display: inline;
}



/* Responsive break-points */

@media screen and (min-width:600px) {
  /* For Tablets */

  body {
    width: 80%
  }

  .main-content-container {
    flex-direction: column;
  }

  .buttons-container {
    flex-direction: row;
    justify-content: center;
  }

}

@media screen and (min-width:1080px) {
  /* For Desktop*/

  body {
    width: 70%;
  }

  .main-content-container {
    flex-direction: row;
    justify-content: center;
    height: 50vh;
  }

  .buttons-container {
    flex-direction: row;
    justify-content: center;
  }

  .output-container {
    width: 300px;
  }

  #output-image {
    display: inherit;
  }

  footer p {
    display: inline;
  }
}